.lightning-background {
  position: relative;
  width: 100%;
  height: 100%;
}

.lightning-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.lightning-content {
  position: relative;
  z-index: 1;
}